.PartOfSpeechSelect
    max-width: 3rem
    max-height: 3rem

    select
        all: unset

        border-radius: 1rem
        padding: 0.5rem
        border: none
        pointer-events: all

    option
        display: block
        text-align: center