@import "../../../App.module"


.SettingsPanel
    width: 20rem
    height: 100%

    position: fixed
    right: -20rem
    top: 5rem
    z-index: 1

    padding: 1rem
    box-sizing: border-box

    display: flex
    flex-direction: column

    transition: $panelTransitionTime

    background-color: $panelBackgroundColor