.word
    width: 10px
    height: 10px
    
    border: solid 2px black

    box-sizing: border-box

.WordsBar
    width: 80vw
    height: 60vw

    border: solid 2px blue

    margin-left: auto
    margin-right: auto