.Theme
    min-width: 2.8rem
    height: 2.8rem

    cursor: pointer

    box-sizing: border-box
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3)

    border-radius: 0.5rem
    transition: 200ms

    &:hover
        
        border-radius: 1rem

    &:active
        
        transform: scale(0.9)
        transition: 50ms
        