@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..8001,300..800&display=swap")

$panelTransitionTime: 300ms
$panelBackgroundColor: #212121
  
body
  margin: 0

  box-sizing: border-box

  background-color: #2D2D2D
  font-family: "Roboto", sans-serif